/*      Chtemele.css
Design ressemblant au renud natif du jeu Chtemele
*/

body
{
    background : #ddd;
    text-shadow : rgba(255,255,255,0.3) 0px 1px 0px;
    color : #000;
    margin : 0;
    font-family : "Georgia", serif;
}

h1
{
    padding : 40px 10px 10px 10px;
    background : #800;
    color : #ddd;
    text-shadow : rgba(0,0,0,0.4)  0px 1px 0px;
    margin-top : 0;
}

h2{
    border-bottom : solid 1px #777;
}

h2, h3
{
    margin-left : 20px;
}

img
{ 
    max-height : 100%;
    max-width : 100%;
}

p
{
    text-indent : 32px;
    margin-left : 6px; margin-right : 6px;
}

a{
    color : #c00;
}