/*      Chtemele.css
Design ressemblant au renud natif du jeu Chtemele
*/

body
{
    background : #efefef;
    border : solid 20px #aaa;
	border-image:url(img/border.png) 30 30 round;
    color : #000;
}

h1
{
    font-family:"Comic sans ms";
}

h2
{
	font-family:"Comic sans ms";
}

strong
{
	font-family:"Comic sans ms";
}

p
{
	font-family:"Comic sans ms";
}

img
{ 
    height : 100%;
    width : 100%;
}