/*      Chtemele.css
Design ressemblant au renud natif du jeu Chtemele
*/

body
{
    background : #111;
    color : #eeeeee;
    font-family : "Courier new"
}

h1
{
	color : #00ee00;
}

p
{
	color : #eeeeee;
    text-indent : 16px;
}
p:before
{
    content : "> ";
    color : #fff;
}

img
{ 
    max-height : 100%;
    max-width : 100%;
}