/*      Chtemele.css
Design ressemblant au renud natif du jeu Chtemele
*/

html
{
    position : relative;
}

body
{
    background : #ccc;
    color : #555;
    text-shadow : #fff 0px 1px 0px;
    font-family : "Trebuchet MS", sans-serif;
    box-shadow : #555 0px 0px 40px inset;
    margin : 0;
    padding : 32px;
    min-height : 100%;
}

img
{ 
    max-height : 100%;
    max-width : 100%;
}

h2
{
    margin-left : 20px;
}

h3
{
    margin-left : 40px;
}